@model Organizer.Models.Appointment
@{
    ViewBag.Title = "Detail du RDV";
}

<h2>@ViewBag.Title</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @using (Html.BeginForm("DetailsAppointment", "Appointment"))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.AppointmentID)
                <div class="form-group">
                    @Html.LabelFor(model => model.DateHour)
                    @Html.EditorFor(model => model.DateHour, new { htmlAttributes = new { @class = "form-control", @id = "DateApp" } })
                    @Html.ValidationMessageFor(model => model.DateHour)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BrokerID, "BrokerID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md">
                        @Html.DropDownList("BrokerID", null, htmlAttributes: new { @class = "custom-select" })
                        @Html.ValidationMessageFor(model => model.BrokerID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerID, "CustomerID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md">
                        @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "custom-select" })
                        @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Subject)
                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Subject)
                </div>
                <span class="ml-2">@Html.ActionLink("Modifier", "EditAppointment", "Appointment", new { id = @Html.DisplayFor(model => model.AppointmentID) }, new { @class = "btn btn-success" })</span>
                @Html.ActionLink("Supprimer", "DeleteAppointment", "Appointment", new { id = @Html.DisplayFor(model => model.AppointmentID) }, new { @class = "btn btn-danger" })
            }
        </div>
    </div>
</div>